.placeholder {
  border: 1px solid silver;
  padding: 20% 0;
  .far, .fas {
    font-size: 82px;
    display:block;
    text-align: center;
  }
  .title, .caption {
    text-align:center;
  }
  .title{
    font-size:24px;
    font-weight:bold;
  }
  .caption{
    font-size:18px;

  }
  button, .btn {
    display:block;
    margin: 0 auto;
    border-color:$brand-grey;
    color:$text-color;
    width:175px;
    &:hover{
      background-color:$brand-grey;
      color:$text-inverse;
    }
  }
  .stat {
    background:rgba(160, 159, 162, 0.5);
    position:absolute;
    text-align:center;
    font-weight:bold;
    text-transform:uppercase;
  }
  .stat-sm{
    top:10%;
    right:-20%;
    padding:5% 10%;
    font-size:36px;
    @include sm {
      top: 15%;
      right: 5%;
    }
  }
  .stat-md{
    top: 10%;
    right: -14%;
    padding: 5%;
    font-size: 64px;
    @include sm {
      top: 15%;
      right: 5%;
    }
  }
  .stat-lg{
    top:10%;
    right:-15%;
    padding:5%;
    font-size:72px;
    @include sm {
      top: 10%;
      right: 5%;

    }
  }
}
.stat-text-sm{
  font-size:25px;
  margin-top:40%;
  @include md {
    margin-top:5%;
  }
  @include sm {
    margin-top:5%;
  }
}
.stat-text-md{
  font-size:25px;
  margin-top:35%;
  @include lg{
    margin-top:40%;
  }
  @include md {
   margin-top:5%;
  }
  @include sm {
   margin-top:5%;
  }
}
.stat-text-lg{
  margin-top:75%;
  font-size:25px;
  @include lg {
    margin-top:85%;
  }
  @include md {
    margin-top:5%;
  }
  @include sm {
    margin-top:5%;
  }
}
#sortable{
  list-style-type:none;
}
.appeals-dates{
  position:relative;
  @include xl{
    padding-bottom: 11%;
  }
  @include lg{
    padding-bottom: 15%;
  }
  .appeals-dates-text {
    background-color: $brand-turquoise;
    color:$text-inverse;
    padding:25px;
    position:absolute;
    top:20%;
    width:30%;
    @include xl {
      width:45%;

    }
    @include lg {
      width:45%;
    }
    @include md {
      position:relative;
      width:100%;
      margin-top:5%;
      right:0;
    }
  }

}
.absolute-left{
  left:20%;
  @include xl {
    left:10%;
  }
  @include lg {
    left:10%;
  }
  @include md {
    left:0;
  }
}
.absolute-right{
  right:20%;
  @include xl {
    right:10%;
  }
  @include lg {
    right:10%;
  }
  @include md {
    right:0;
  }
}
