.box {
  margin:1.5rem 0 1.5rem 0;
  background-color: $text-inverse;
  clear:both;

  .box-header {
    border-bottom: 1px solid $box-border;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 20px;
  }
  .box-buttons {
    float: right;
    margin: -16px -20px -20px 0;
    .box-btn {
      background: 0 0;
      border: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-left: 1px solid $box-border;
      display: block;
      float: left;
      text-align: center;
    }
  }
  .box-content {
    padding: 16px 20px;
    margin: 0;
    .fa {
      font-size:18px;
    }

  }
}
#sortable {
  li {
    cursor: grab;
    &:active{
      cursor: grabbing;
      opacity:0.8;
    }
  }
}
#success-message{
  width:100%;
}