.btn-primary{
  background-color: #007bff;
  border-color: #007bff;
  &:hover{
    background-color: #0062cc;
    border-color: #005cbf;
  }
}
.brand-danger {
  border-color: #dc3545;
  &:hover {
    background-color: #bd2130;
  }
}
.btn-secondary{
   background-color: #6c757d;
   border-color: #6c757d;
   color:$text-inverse;

   &:hover{
     background-color: #5a6268;
     border-color: #545b62;
     color:$text-inverse;
   }
}
.btn-template{
  margin-top:15px;
  float:right;
}
.btn-dark {
  border-radius:10px;
  border:2px solid $text-color;
  background:none;
  &:hover{
    background:$text-color;
    color:$text-inverse;
  }
}
.btn-light{
  border-radius:10px;
  border:2px solid $text-inverse;
  background:none;
  &:hover{
    background:$text-inverse;
    color:$text-color;
  }
}
.form-action{
  button {
    margin-right:5px;
  }
}