body{
  background-color: $brand-cream-light;
}
#main{
    background-color: $brand-cream-dark;
    padding:0 20px 20px;
    float:left;
    width:100%;
  }
  #log-in-form {
    margin-top:50px;
    border:1px solid $brand-grey-light;
    border-radius:4px;
  .panel {
    border:none;
    margin-bottom: 0;
    .panel-heading, .panel-footer{
      background:$brand-purple-dark;
    }
  }

  }
  .bg-dark{
    background-color:$brand-grey-dark;
    .btn-rounded{
      padding:7px 30px;
    }
  }
  a.tooltip-pivot {
    color: $brand-turquoise;
    margin-right: 5px;
    &:hover{
      color:$brand-turquoise-lighter;
    }
  }
  #widget {
    min-height:600px;
    padding-top:50px;
    .fas {
      font-size:96px;
      display:block;
      text-align:center;
      margin-top:50px;
    }
  }
