a:hover {
  text-decoration: none;
}
.navbar{
  border-radius: 0;
    .fa-user-circle{
      font-size:36px;
    }
}

.navbar-dark{
  padding:10px 0;
  background-color:$brand-purple-dark;
  margin-bottom:0;
  a, i,strong{
    color: $text-inverse;
  }
  a:first-of-type{
    display: inline-block;
    padding-top:10px;
  }
  a:nth-of-type(2){
    position:absolute;
    top:40%;
    left:20%;
  }
  button {
    margin-top:10px;
  }
  .karuna-brand{
    img{
      width: 40%;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  }

}
.sidebar{
  background-color: $text-inverse;
  margin-top:20px;
  margin-left:10px;
  ul {
    >li{
      list-style-type: none;
      margin-bottom:2px;
      ul{

          color:$text-color;
          padding-top:10px;
          padding-bottom:10px;
          margin-bottom:5px;
          display:none;
        li{
          margin:2px 0;
        }
      }
      li.nav-item a{
        background: $text-inverse;
         color:$text-color;
        &:hover{
          color:gray;
        }
      }
    }
    li.nav-item a{
      background-color:$brand-purple-dark;
      color:$text-inverse;
      .fa-caret-down, .fa-caret-up {
        margin-top:5px;
      }
    }

  }
}
#nav-menu-meta{
   margin-bottom:10px;
}