.panel {
  .panel-footer, .panel-heading{
    background:$text-color;
    color:$text-inverse;
    .panel-title, a{
      color:$text-inverse;
    }
  }

  .panel-footer{
    padding-bottom: 1px;
  }
}

