// Extra Small devices
@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}
// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

//adobe fonts

@mixin din {
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin din-light {
  font-family: din-2014, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin din-demi {
  font-family: din-2014, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin din-bold {
  font-family: din-2014, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin din-extra-bold {
  font-family: din-2014, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin din-italic {
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin din-bold-italic {
  font-family: din-2014, sans-serif;
  font-weight: 700;
  font-style: italic;
}
@mixin din-extra-bold-italic {
  font-family: din-2014, sans-serif;
  font-weight: 800;
  font-style: italic;
}

@mixin din-narrow {
  font-family: din-2014-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin din-narrow-bold {
  font-family: din-2014-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
}
@mixin din-extra-narrow-bold {
  font-family: din-2014-narrow, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin din-narrow-light {
  font-family: din-2014-narrow, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin din-narrow-extra-light {
  font-family: din-2014-narrow, sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin din-narrow-demi {
  font-family: din-2014-narrow, sans-serif;
  font-weight: 600;
  font-style: normal;
}