
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-orange: #c24c1a;
$brand-orange-light: #d27a54;
$brand-orange-lighter: #dfa68b;
$brand-orange-dark: #9c4114;
$brand-orange-darker: #733208;

$brand-cream: #f2edea;
$brand-cream-light: #f6f2f1;
$brand-cream-lighter: #f8f7f5;
$brand-cream-dark: #e0dcd9;
$brand-cream-darker: #cfcbca;

$brand-grey: #484349;
$brand-grey-light: #747277;
$brand-grey-lighter: #a3a1a4;
$brand-grey-dark: #332e32;
$brand-grey-darker: #0e0c0d;

$brand-purple: #6f4b71;
$brand-purple-light: #947795;
$brand-purple-lighter: #b7a4b8;
$brand-purple-dark: #5d3e5e;
$brand-purple-darker: #483048;

$brand-turquoise: #1699ad;
$brand-turquoise-light: #51b2c2;
$brand-turquoise-lighter: #8cccd6;
$brand-turquoise-dark: #157c8d;
$brand-turquoise-darker: #0f5d69;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Verdana", sans-serif;
$font-size-base: 16px;
$text-color: $brand-grey;
$text-inverse: #fff;


// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-grey, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//boxes
$box-border: #e5e9ec;

//responsive sizes
//small phones
$screen-xs-max: 575px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 992px;

// Tablets and small desktops
$screen-lg-min: 1025px;

// Large tablets and desktops
$screen-xl-min: 1366px;
