#app {
  transition: margin-left .5s;
  background: $brand-cream-light;
  font-size: $font-size-base;
  line-height:1.8em;
  letter-spacing: 0.02em;
  margin:40px 25px;
  position:relative;

  @include din-light();
  @include lg {
    margin: 30px 15px;
  }
  @include md {
    margin: 30px 15px;
  }

  @include sm() {
    padding: 10px 5px;
    margin: 15px 5px;
  }


  h1, blockquote{
    font-size: 46px;
    letter-spacing: .01em;
    line-height: 1.25em;
    @include xl {
      font-size: 40px!important;
    }
    @include lg {
      font-size: 30px!important;
    }
    @include md {
      font-size: 32px!important;
    }
    @include sm {
      font-size: 26px!important;
    }
  }
  blockquote{
    text-align: center;
    font-size: 50px;
    letter-spacing: .04em;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 25px;
    border:none;
    @include sm {
      font-size:28px!important;
    }

  }

  h3{
    @include din();
    font-size:16px;
    line-height:1em;
    letter-spacing: 0.22em;
    text-transform:uppercase;
  }
  h4 {
    @include din();
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 1.8em;
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.blockquote {
  .quote{
    width:25%;
    @include md {
      width:50%;
    }
    @include sm {
      width:100%;
    }
  }
}

.btn-rounded {
  border:2px solid $text-inverse;
  @include din-demi();
  letter-spacing: .1em;
  border-radius: 300px;
  padding: 12px 18px;
  color:$text-inverse;
  background: none;
  text-transform: uppercase;
  font-size:13px;
  font-weight:400;

  &:hover{
    background-color: $text-inverse;
    color:$brand-grey;
    border-color: $text-inverse;
  }
  @include sm(){
    padding: 5px 12px;
    font-size:10px;
  }
}
.btn-rounded-dark{
  border:2px solid $brand-orange;
  @include din-demi();
  letter-spacing: .1em;
  border-radius: 300px;
  padding:12px 18px;
  color:$brand-orange;
  background: none;
  text-transform: uppercase;
  font-size:11px;

  &:hover{
    background-color: $brand-orange;
    color:$text-inverse;
    border-color: $brand-orange;
  }
  @include sm(){
    padding: 5px 12px;
    font-size:10px;
  }
}
.btn-purple{
  background-color: $brand-purple;
  border-color:$brand-purple;
  color: $text-inverse;
  &:hover{
    background-color: $brand-purple-light;
    border-color:$brand-purple-light;
  }
}
.btn-turquoise{
  background-color: $brand-turquoise;
  border-color:$brand-turquoise;
  color: $text-inverse;
}
.btn-orange{
  background-color: $brand-orange;
  border-color:$brand-orange;
  color: $text-inverse;
}
.no-padding-left{
  padding-left:0;
  @include sm {
    padding:0;
  }
}
.no-padding-right{
  padding-right:0;
  @include sm {
    padding:0;
  }
}
.content-block{
  padding-bottom:5%;
}

.divider {
  order: none;
  height: 10px;
  width: 50%;
  border:none;
  background: url('/images/divider_03.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-link{
  width:8%;
  margin:0 auto;

  @include lg{
    width:15%;
  }
  @include md{
    width:20%;
  }
  @include sm {
    width:55%;
  }
  .fas {
    font-size:48px;
    width:100%;
    text-align:center;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    &:hover{
      top:-10px;
    }
  }
  &:hover{
    cursor:pointer;
    color:$brand-grey-lighter;
  }
  h3 {
    margin-top:0;
  }
}
#accordion {
  h4 {
    @include sm {
      font-size:14px;
    }
  }
}
.xl-stat {
  font-size:128px;
  line-height:1em;

  @include sm {
    font-size:80px;
  }
}
.embed-container {
  @include md{
    margin-bottom:5px;
  }
}
/* Reset some default styling */
.gjs-wrapper {
  height:300px;
}
#gjs {

}
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  min-height: 200px;
}