.contact-header{
  font-style: normal;
  font-size: 18px;
  letter-spacing: .22em;
  line-height: 2em;
  text-transform: uppercase;

}

.contact-telephone{
  font-size: 46px;
  letter-spacing: .01em;
  line-height: 1.25em;
  padding-bottom:15px;
  a{
    color:$text-color;
  }
}