.footer {
  background-color:$brand-grey-dark;
  text-align:center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left:20px;
  padding-right:20px;
  margin-top: 40px;
  color:$text-inverse;
  h4{
    font-size:32px!important;
    margin-bottom:0;
  }
  img{
    margin:0 auto;
  }
  .logo{
    margin-bottom:20px;
  }
  .regulator{
    padding-top:20%;
    padding-left:15%;
    padding-right:15%;
    @include lg {
      padding:0 300px 40px 300px;
    }
    @include md {
      padding:0 170px 40px 170px;
    }
    @include sm {
      padding:0 50px 40px 50px;
    }
  }
  a{
    margin-top:23%;
    color:$text-inverse;
    @include lg{
      margin-top: 5%;
    }
    @include md {
      margin-top: 5%;
    }
    @include sm {
      margin-top:0;
    }

  }
}