.image, .image-parallax, .image-button{
  position:relative;
  img {
    width:100%;
  }
  .image-text{
    color: $text-inverse;
    /* padding-top: 5%; */
    text-align: center;
    width: 100%;
    position: absolute;
    top: 38%;

    @include md {
      top:43%;
    }

    @include sm {
      padding-top:0;
      top:40%;
    }

    //text-shadow: 1px 1px $brand-text;
    .title{
      color:$text-inverse;
      text-transform:uppercase;
      @include din();
      width:50%;
      margin:0 auto 10px auto;
      font-size:18px;

      @include sm {
        font-size:10px;
        width:85%;
        margin-bottom:0;
      }

    }
    .caption{
      width:50%;
      margin:0 auto 25px auto;
      font-size:56px;
      letter-spacing: .01em;
      line-height: 1.5em;
      @include md {
        font-size:32px;
      }
      @include sm {
        font-size:16px;
        margin-bottom:10px;
        width:75%;
        line-height: 1.2em;
      }
    }

  }
}

.slider{
  position:relative;
  img {
    width:100%;
  }
  .image-text{
    color: $text-inverse;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    @include xl {
      top:32%;
    }
    @include lg {
      top:30%;
    }
    @include md {
      top:25%;    }

    @include sm {
      padding-top:0;
      top:25%;
    }

    //text-shadow: 1px 1px $brand-text;
    .title{
      color:$text-inverse;
      text-transform:uppercase;
      @include din();
      width:50%;
      margin:0 auto 10px auto;
      font-size:18px;

      @include sm {
        font-size:10px;
        width:85%;
        margin-bottom:0;
      }

    }
    .caption{
      width:50%;
      margin:0 auto 25px auto;
      font-size:56px;
      letter-spacing: .01em;
      line-height: 1.5em;
      @include xl{
        font-size:48px;
        width:60%;
      }
      @include lg{
        font-size:46px;
        width:70%;
      }
      @include md {
        font-size:32px;
        width:70%;
      }
      @include sm {
        font-size:16px;
        margin-bottom:10px;
        width:75%;
        line-height: 1.2em;
      }
    }

  }
}

.image-parallax{
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include lg {
    height:800px;
  }
  @include md {
    height:800px;
  }
  @include sm {
    height:300px;
  }


}
#cropper {
  width:600px;
  height:400px;
}
.stat-wrapper{
  img {
    width:100%;
  }
  .stat {
    background:rgba(240, 234, 231, 0.8);
    position:absolute;
    text-align:center;
    font-weight:bold;
    text-transform:uppercase;
  }
  .stat-sm{
    top: 10%;
    right: -18%;
    padding: 6% 8%;
    font-size: 48px;
    @include md {
      top: 15%;
      right: 5%;
    }
    @include sm {
      top: 15%;
      right: 5%;
    }
  }
  .stat-md{
    top: 10%;
    right: -14%;
    padding: 6%;
    font-size: 72px;
    @include md {
      top: 15%;
      right: 5%;
    }
    @include sm {
      top: 15%;
      right: 5%;
    }
  }
  .stat-lg{
    top: 6%;
    right: -13%;
    padding: 9% 6%;
    font-size: 134px;
    @include md {
      top: 10%;
      right: 5%;
      font-size:84px;
    }
    @include sm {
      top: 10%;
      right: 5%;
      font-size:84px;
    }
  }
}
.img-grid{
  position:relative;
  overflow:hidden;
  margin-bottom:30px;
  @include sm {
    margin-bottom:15px;
  }
  .img-text{
    position:absolute;
    background-color:rgba(22,153,173, 0.8);
    width:100%;
    color:$text-inverse;
    text-transform:uppercase;
    bottom: -130px;
    text-align: center;
    transition: bottom ease 1s;
    font-size:22px;
    @include xl{
      font-size:16px!important;
    }
    @include md{
      bottom:0;
    }
    @include sm {
      font-size:16px;
    }
    h1{
      @include xl {
        font-size:24px!important;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 0;
      }
      @include sm{
        font-size: 18px!important;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
  &:hover .img-text {
    bottom:0;
  }
}