.masthead {
  position:absolute;
  color:$text-inverse;
  z-index:999;
  width:100%;
  .logo{
    padding: 50px 16% 0 16%;
  }
  @include md {
    top:20px;
  }
  @include sm {
    top:15px;
  }
  .nav{
    margin-top:50px;
    margin-left:11%;
    @include xl{
      margin-left:2%;
      margin-top:45px;
    }
    >li{
      float:left;
      >a{
        font-size: 13px;
        letter-spacing: 0.09em;
        font-weight: 400;
        margin: 0 1.12em;
        padding: .618em 0;
        @include xl {
          font-size:12px;
          margin:0 5px;
        }
        @include lg {
          font-size:14px;
        }
        &:hover{
          background:none;
        }
        &:focus{
          background:none;
        }
        &.btn-rounded{
          background-color:$brand-orange;
          border-color:$brand-orange;
          color:$text-inverse;
          border-radius: 300px;
          padding:12px 18px;
          @include lg {
            width: 80%;
          }
          &:hover{
            background:$text-inverse;
            color:$brand-orange;
            border-color:$text-inverse;
          }

        }
        &.btn-rounded-dark{
          border-radius: 300px;
          margin: 0 auto;
          &:hover{
            border-color:$brand-grey-light;
          }
        }
      }
    }
  }
  a{
    color:$text-inverse;
    background:none;
    text-transform: uppercase;
    &:hover{
      color:$brand-cream-dark;
      background:none;

    }
  }
  .contact-buttons {
    float:right;
    margin-right:11%;
    @include xl{
      margin-right:2%;
      margin-top:45px;
    }
    a{
      margin-right:10px;

    }
  }
}
.navbar-collapse.collapse {
  @include lg(){
    display:none!important;
  }
}

.navbar-toggle{
  background-color: $brand-orange;
  opacity:0.8;
  position:fixed;

  @include lg(){
    display:block;
    top:30px;
    left:35px;
  }
  @include sm {
    top:25px;
    left:35px;
  }

  .icon-bar{
    background-color: $text-inverse;
  }
}

#sidebar-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $brand-orange;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align:center;
  .nav {
    margin-top:10%;
    li {
      float:none;
      .btn-rounded{
        border-color:$text-inverse;
        width:95%;
      }
    }
  }
  .fas {
    padding: 0px 20px 0 0;
  }
  img{
    padding:40px 10px 0 10px;
  }
  ul{
    padding:0 10px;
  }
  a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    &:hover{
      color: #f1f1f1;
    }
    &.btn {
      margin-top:10px;
    }
  }

}

#sub-menu {
  font-size:18px;
    a{
      margin: 0 5px;
      padding-top:10px;
      border-right:1px solid;
      vertical-align: text-bottom;
      text-transform: uppercase;
      width: 28%;
      text-align: center;
      display: inline-block;
      color:$text-color;
      letter-spacing:0.2em;
      &.purple{
        &:hover{
          color: $brand-purple;
          border-color: $text-color;
        }
      }
      &.turquoise{
        &:hover{
          color: $brand-turquoise;
          border-color: $text-color;
        }
      }
      &.orange{
        &:hover{
         color: $brand-orange;
          border-color: $text-color;
        }
      }
      @include xl() {
        width:32%;
        margin:0;
      }
      @include lg() {
        width:26%;
      }
    }
  a:last-of-type{
    border:none;
  }
}
#scroll-nav{
  display:none;
  position: fixed;
  z-index:999;
  top:0;
  width:100%;
  margin-left:-25px;
  background-color: $brand-cream-dark;
  .logo {
    padding: 10px 16% 0 16%;
  }
  .nav {
    margin-top:15px;
    margin-left:11%;
    @include xl{
      margin-left:2%;
      margin-top:5px;
    }

    li{
      float:left;
      padding-bottom:15px;
      @include xl{
        padding-bottom:5px;
      }
      a{
        background:none;
        text-transform: uppercase;
        color:$text-color;
        &:hover{
          color:$brand-grey-light;
        }
        @include xl {
          font-size:12px;
          margin:0 5px;
        }
        @include lg {
          font-size:14px;
        }

        &.btn-rounded-dark{
          border: 2px solid $brand-orange;
          font-family: din-2014, sans-serif;
          font-weight: 600;
          font-style: normal;
          letter-spacing: .1em;
          border-radius: 300px;
          color: $text-inverse;
          background: $brand-orange;
          text-transform: uppercase;
          padding:10px 18px;
          @include xl {
            padding:10px 15px;
          }
          @include lg {
            width: 80%;
          }
          &:hover{
            background:$text-inverse;
            color:$brand-orange;
            border-color:$brand-orange;
          }

        }
      }
    }
    img {
      margin-top:10px;
    }

  }

}