#carousel {
  overflow:hidden;
  max-height:830px;
  @include xl() {
    max-height:435px;
  }
  @include lg{
    max-height:430px;
  }
  @include md {
    max-height:300px;
  }
  @include sm {
    max-height:240px;
  }
}
.slider {
  position:relative;
  .bx-slider {
    width:100%;
  }
  .parallax {
    background-size:cover;
    min-height:1224px;
    overflow:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

    .image-text {
      color: $text-inverse;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 27%;
      @include xl {
        top: 15%;
      }
      @include lg {
        top: 11%;
      }
      @include md {
        top: 10%;
      }

      @include sm {
        padding-top: 0;
        top: 7%;
      }
    }
  }
  .image-text{
    //text-shadow: 1px 1px $brand-text;
    .title{
      font-size:18px;
      text-transform: uppercase;
      letter-spacing: .1em;
      @include sm {
        font-size:12px;
        width:85%;
      }
    }
    .caption{
      font-size:56px;
      letter-spacing: .01em;
      line-height: 1.3em;
      @include md {
        font-size:32px;
      }
      @include sm {
        font-size:18px;
        width:75%;
      }
    }
  }

  .bx-prev {
    position:absolute;
    top:35%;
    left: 50px;
    width:40px;
    height:64px;
    opacity:0.8;
    background: url("/images/chevron-left.png") no-repeat;
    background-size: contain;
    &:hover, :focus{
      opacity:0.6;
    }
  }
  .bx-next {
    position:absolute;
    top:35%;
    right: 50px;
    width:40px;
    height:64px;
    opacity:0.8;
    background: url("/images/chevron-right.png") no-repeat;
    background-size: contain;
    &:hover, :focus{
      opacity:0.6;
    }
  }
  .bx-controls-direction{
    @include md {
      display:none;
    }
    @include sm {
      display:none;
    }
    a {
      position: absolute;
      top: 45%;
      margin-top: -16px;
      outline: 0;
      width: 41px;
      height: 63px;
      z-index: 500;
      @include xl {
        top:52%;
      }
    }
    a.disabled{
      display: none;
    }
  }
}
