.timeline-Tweet-media {
  display:none!important;
}
.social-icons{
  text-align:center;
  font-size:54px;
  margin-top:15px;
  a{
    color:$brand-grey-dark;
    &:hover {
      color: $brand-grey-lighter;
    }
  }
}